<div>
   <div class="bg-black">
      <p class="text_center header_text">Sign up and get 20% off on your first order.  <span class="text_underline">Sign up now</span> <i class="fa-solid fa-xmark"></i></p>
      
   </div>
   <div class="container flex">
      <div class="logo">
         SHOP.CO
      </div>
      <div class="flex w400 nav_link">
         <a href="">Shop</a>
         <a href="">On Sale</a>
         <a href="">New Arrivals</a>
         <a href="">Brands</a>
      </div>
      <div class="search_box">
         <i class="fa-solid fa-magnifying-glass mx-10"></i>
         <input type="text" name="" id="searchbox" placeholder="Search for products">
      </div>
      <div>
         <i class="fa-solid fa-cart-shopping mx-10 f15"></i>
         <i class="fa-regular fa-user mx-10 f15"></i>
      </div>
   </div>
</div>