<nav class="navbar">
   <p> Sign up and get 20% off to your first order.<span>Sign Up Know</span> </p>
</nav>
<nav>
   <label class="logo">SHOP.CO</label>
   <ul>
      <li><a href="#">Shop</a></li>
      <li><a href="#">On Sale</a></li>
      <li><a href="#">New Arrivals</a></li>
      <li><a href="#">Brands</a></li>
   </ul>
</nav>

   <section class="main-home">
      <div class="main-text">
         <h1>FIND CLOTHES</h1>
         <h1> THAT MATCHES</h1>
         <h1>YOUR STYLE</h1>

         <p> Browse through our diverse range of meticulously crafted garments, designed</p>
         <p> to bring out your individuality and cater to your sense of style. </p>
         <button> Shop Now</button>
      </div>
   </section>
   